@{
    ViewBag.Title = "Index";
    ViewBag.MenuId = "menu2";
    ViewBag.SubMenuIndex = 1;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@model TugDataModel.OrderInfor



<div id="main-content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">

                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">UI Features</a>
                                </li>
                                <li>Grid</li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="box border orange">
                            @*<div class="box-title">

                                </div>*@
                            <div class="box-body">
                                <div>
                                    <ul>
                                        <li>@Model.Code</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- SAMPLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>jqGird Example</h4>
                            </div>
                            <div class="box-body">
                                <table id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /SAMPLE -->

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var tableConfig = null;

    $(document).ready(function () {

        if (tableConfig == null)
        {
            GetTableConfig();
        }

        $("#jqGrid").jqGrid({
            url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
            mtype: "GET",
            datatype: "jsonp",
            editurl: 'clientArray',
            colModel: tableConfig.columns,
        //    [
        //{ label: 'OrderID', name: 'OrderID', key: true, width: 75 },
        //        { label: 'Customer ID', name: 'CustomerID', width: 150 },
        //        { label: 'Order Date', name: 'OrderDate', width: 150 },
        //        { label: 'Freight', name: 'Freight', width: 150 },
        //        { label:'Ship Name', name: 'ShipName', width: 150 }
        //]
			viewrecords: true,
            width: 780,
            height: 250,
            rowNum: 20,
            autowidth: true,
            pager: "#jqGridPager"
        });


        //$('#jqGrid').navGrid('#jqGridPager', { edit: true, add: true, del: true, search: false, refresh: false, view: false, position: "left", cloneToTop: false },
        //    {
        //        editCaption: "The Edit Dialog",
        //        recreateForm: true,
        //        checkOnUpdate: true,
        //        checkOnSubmit: true,
        //        closeAfterEdit: true,
        //        url: '/api/values/1',
        //        bSubmit: '提交',
        //        bCancel:'取消',
        //        mtype : 'GET',
        //        errorTextFormat: function (data) {
        //            return 'Error: ' + data.responseText
        //        }
        //    },
        //    {},
        //    {});


        $('#jqGrid').navGrid('#jqGridPager', { edit: false, add: false, del: false, search: false, refresh: false, view: false});
        $('#jqGrid').inlineNav('#jqGridPager', {
            edit: true, add: true, del: true, cancel: true,
            
            addParams: {
                keys: true,
                
                oneditfunc: function (rowid) {
                    alert("new row with rowid=" + rowid + " is added.");
                },
                aftersavefunc: function (rowid, response) {
                    alert("new row with rowid=" + rowid + " are add saving.");
                    //$("#grid_id").trigger("reloadGrid");
                    return true;
                }
            },

            editParams: {
                keys: true,
                url: '/api/values/1',
                mtype:'GET',
                oneditfunc: function (rowid) {
                    alert("row with rowid=" + rowid + " are editing.");
                },
                aftersavefunc: function (rowid, response) {
                    alert("row with rowid=" + rowid + " are edit saving.");
                    //$("#grid_id").trigger("reloadGrid");
                    return true;
                },
                successfunc: function () {
                    alert(1);
                }
            }
        });
    });

    function GetTableConfig() {
        tableConfig = {
            columns: [
                { label: "订单号", name: "OrderID", width: 75, editable: false, edittype: "text", editrules: { required: true }, hidden: false },
                { label: "客户ID", name: "CustomerID", width: 150, editable: false, edittype: "text", editrules: { required: true }, hidden: true },
                { label: "订单日期", name: "OrderDate", width: 150, editable: true, edittype: "text", editrules: { required: true }, hidden: false },
                { label: "货运", name: "Freight", width: 150, editable: true, edittype: "text", editrules: { required: true }, hidden: false },
                { label: "船名", name: "ShipName", width: 150, editable: true, edittype: "text", editrules: { required: true }, hidden: false }

            ]
        };
    }

</script>