@{
    ViewBag.Title = "UserInfor";
    ViewBag.MenuId = "menu5";
    ViewBag.SubMenuIndex = 0;
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<h2>UserInfor</h2>

<div id="main-content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- STYLER -->
                            <!-- /STYLER -->
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="#">@Resources.Language.HomePage</a>
                                </li>
                                <li>
                                    <a href="#">@Resources.Language.Order</a>
                                </li>
                                <li>
                                    @Resources.Language.OrderManage
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">Grid Test</h3>
                            </div>
                            <div class="description">Table</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-12">
                            <div class="box border orange">
                                <div class="box-title">
                                    <h4><i class="fa fa-bitbucket"></i>个人信息</h4>
                                </div>
                                <div class="box-body">
                                    <form class="form-horizontal " action="#">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                用户名:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="UserName" class="form-control" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                中文名:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="CnName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                英文名:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="EnName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                部门:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="Dept" class="form-control" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                科室:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="Sec" class="form-control" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                工号:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="WorkNumber" class="form-control" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                性别:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="Sex" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                电话:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="Tel" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                邮箱:
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" name="Email" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                            </label>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-danger" title="Tooltip at left"> 更 新 </button>
                                                @*<a href="#" class="btn btn-primary btn-block" id="colorpicker-event" data-color-format="hex" data-color="#fff">
                                                        <i class="fa fa-adjust"></i> 更 新
                                                    </a>*@
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>