@{
    Layout = null;
    ViewBag.EMPTY = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewInvoice</title>
    <!-- bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="~/Resources/Frame/js/bootstrap-table/bootstrap-table.css" />

    <!-- BOOTSTRAP -->
    <script type="text/javascript" src="~/Resources/Frame/js/bootstrap-table/bootstrap-table.js"></script>

    @{
        if (ViewBag.Language == "zh-CN")
        {
            <script type="text/javascript" src="~/Resources/JqGrid/js/i18n/grid.locale-cn.js"></script>
            <script type="text/javascript" src="~/Resources/Frame/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
        }
        else if (ViewBag.Language == "en-US")
        {
            <script type="text/javascript" src="~/Resources/JqGrid/js/i18n/grid.locale-en.js"></script>
            <script type="text/javascript" src="~/Resources/Frame/js/locale/bootstrap-table/bootstrap-table-en-US.js"></script>
        }
        else
        {
            <script type="text/javascript" src="~/Resources/JqGrid/js/i18n/grid.locale-tw.js"></script>
            <script type="text/javascript" src="~/Resources/Frame/js/bootstrap-table/locale/bootstrap-table-zh-TW.js"></script>
        }
    }
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="box border blue">

                    <div class="box-title small">
                        <h4><i class="fa fa-credit-card"></i> @Resources.Language.GenerateInvoice</h4>
                    </div>

                    <div class="box-body">

                        <div class="col-md-12">
                            <div class="col-md-1">
                                <p>服务项目:<br>SERVICE:</p>
                            </div>
                            <div class="col-md-1">
                                <p>服务项目:<br>SERVICE:</p>
                                <p>服务项目:<br>SERVICE:</p>
                                <p>服务项目:<br>SERVICE:</p>
                            </div>
                            <div class="col-md-10">
                                <p>服务项目:<br>SERVICE:</p>
                            </div>
                        </div>

                        <div style="margin:8px;padding:0px; width:1200px;height:1px;background-color:black;overflow:hidden;"></div>

                        <div>
                            <table data-toggle="table">
                                <thead>
                                    <tr>
                                        <th width="" rowspan="2" data-halign="center" data-align="center" data-valign="bottom">拖轮</th>

                                        <th width="" colspan="2" data-halign="center" data-align="center" data-valign="middle">泊码头</th>
                                        <th width="" colspan="3" data-halign="center" data-align="center" data-valign="middle">离码头</th>
                                        <th width="" colspan="1" data-halign="center" data-align="center" data-valign="middle">护航</th>

                                    </tr>
                                    <tr>
                                        <th width="" data-halign="center" data-align="center" data-valign="middle">海发</th>
                                        <th width="" data-halign="center" data-align="center" data-valign="middle">海泰</th>

                                        <th width="" data-halign="center" data-align="center" data-valign="middle">海友</th>
                                        <th width="" data-halign="center" data-align="center" data-valign="middle">#REF</th>
                                        <th width="" data-halign="center" data-align="center" data-valign="middle">#REF</th>

                                        <th width="" data-halign="center" data-align="center" data-valign="middle">#REF</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" class=""> 离厂时间</td>
                                        <td>08:00</td>
                                        <td>12:20</td>
                                        <td>1</td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 回厂时间
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 工作时间
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 协议收费
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 合计港币
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                             工作耗时
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 燃油附加费
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 拖缆费
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class=""> 总数港币
                                        </td>
                                        <td>Item 2</td>
                                        <td>￥3.00</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>

                                        @*<td colspan="13" style="text-align:right">共&nbsp; 计&nbsp;港&nbsp;币：12333 <br> Grand Total HKS</td>*@
                                        <td colspan="6" style="text-align:right"><strong>共&nbsp;计&nbsp;港&nbsp;币：<br> Grand Total HKS</strong></td>
                                        <td style="text-align:center;"><strong>12345.67</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>