@{
    Layout = null;
    ViewBag.EMPTY = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewInvoice</title>

    <!-- bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="~/Resources/Frame/js/bootstrap-table/bootstrap-table.css" />

    @{
        if (ViewBag.Language == "zh-CN")
        {
            <script type="text/javascript" src="~/Resources/JqGrid/js/i18n/grid.locale-cn.js"></script>
            <script type="text/javascript" src="~/Resources/Frame/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
        }
        else if (ViewBag.Language == "en-US")
        {
            <script type="text/javascript" src="~/Resources/JqGrid/js/i18n/grid.locale-en.js"></script>
            <script type="text/javascript" src="~/Resources/Frame/js/locale/bootstrap-table/bootstrap-table-en-US.js"></script>
        }
        else
        {
            <script type="text/javascript" src="~/Resources/JqGrid/js/i18n/grid.locale-tw.js"></script>
            <script type="text/javascript" src="~/Resources/Frame/js/bootstrap-table/locale/bootstrap-table-zh-TW.js"></script>
        }
    }
</head>
<body>
    <div>

        <div class="row">
            <div class="col-md-5 ">
                <div class="box border blue">

                    <div class="box-title small">
                        <h4><i class="fa fa-credit-card"></i> @Resources.Language.GenerateInvoice</h4>
                    </div>

                    <div class="box-body">

                        <table border="1">
                            <caption>caption</caption>

                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td>服务项目：</td>
                                    <td>泊码头</td>
                                    <td>从。。。到。。。</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>离码头</td>
                                    <td>从。。。到。。。</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>守护</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>其他</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>

                        <hr />

                        <table border="1">

                            <thead>
                                <tr>
                                    <th width="20%" rowspan="2">#</th>
                                    <th width="20%" colspan="3">Item</th>
                                    @*<th width="20%">Item Name</th>
                                        <th width="20%">Item Price</th>*@
                                    <th width="20%" rowspan="2">Total</th>
                                </tr>
                                <tr>
                                    @*<th width="20%">#</th>*@
                                    @*<th width="20%">Item ID</th>*@
                                    <th width="20%">Item Name</th>
                                    <th width="20%">Item Price</th>
                                    <th width="20%">Item Count</th>
                                    @*<th width="20%">Total</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" />service1</td>
                                    <td>Item 1</td>
                                    <td>￥2.50</td>
                                    <td>1</td>
                                    <td>$1</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" />service2</td>
                                    <td>Item 2</td>
                                    <td>￥3.00</td>
                                    <td>2</td>
                                    <td>$2</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="2">Sum:100</td>
                                </tr>
                            </tfoot>
                        </table>

                        <hr />

                        <table border="1">

                            <thead>
                                <tr>
                                    <th width="20%" rowspan="2" >#</th>
                                    <th width="20%" colspan="3">Item</th>
                                    <th width="20%" rowspan="2">Total</th>
                                </tr>
                                <tr>
                                    <th width="20%"style="padding:1px; text-align:center">Item Name</th>
                                    <th width="20%">Item Price</th>
                                    <th width="20%">Item Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding:5px 10px 5px 10px;"><input type="checkbox" class=""> Check me outfffff</td>
                                    <td style="padding:5px 10px 5px 10px;">Item 1</td>
                                    <td style="padding:5px 10px 5px 10px;">￥2.50</td>
                                    <td style="padding:5px 10px 5px 10px;">1</td>
                                    <td style="padding:5px 10px 5px 10px;">$1</td>
                                </tr>
                                <tr style="border-top:thick; border-top-color:red">
                                    <td>
                                        <input type="checkbox" class=""> Check me out
                                    </td>
                                    <td>Item 2</td>
                                    <td>￥3.00</td>
                                    <td>2</td>
                                    <td>$2</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="2">Sum:100</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>