@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>拖輪使用清單</title>
    @WebReportGlobals.Scripts()
    @WebReportGlobals.Styles()
</head>
<body>
    @ViewBag.WebReport.GetHtml()
</body>
</html>
